@import "mixins.scss";

.l-header {
  width: 100%;
  margin-inline: auto;
  padding-block: .5rem;

  @include flex-container-x;
}

.l-header__logo {
  margin-left: 1.5rem;
  margin-top: .5rem;
  width: 42px;
  transform: scaleX(-1);
}

.l-header__nav {
  margin-right: 1.5rem;
  @include flex-container-x;
}

.l-main {
  // max-width: 800px;
  width: min(100% - 2rem, 50rem);
  /*800px */
  width: min(100% - 2rem, 75rem);
  /*1200px */
  margin-inline: auto;
}

.l-footer {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  padding: 1rem 0;
}