body {
  font-family: "Poppins";
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abhaya Libre';

}

h1 {
  font-size: 3rem;
  text-decoration: underline;
}

nav {
  text-transform: uppercase;
  font-size: 1.5rem;
}